<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div>
                        <a class="btn btn-info" routerLink="/type-create">Create new Type</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Action
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let task of types">
                                    <td>
                                        <a routerLink="/type-update/{{task.type_id}}">{{task.type_id}}</a>
                                    </td>
                                    <td>
                                        {{task.type_title}}
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" (click)="removeTask(task.type_id)">Remove</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
